@font-face {
    font-family: 'BodyFont';
    src: url('../fonts/Lexend-Light.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    /*overflow: hidden;*/
    background-color: #F4F4F6;
}

* {
    font-family: 'BodyFont', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #929292;
}

div {
    font-family: 'BodyFont', sans-serif;
}
a {
    color: blue;
}
.header {
    width: 100%;
    color: #0096b9;
    height: 4rem;
    line-height: 4rem;
    font-size: 1em;
    vertical-align: middle;
    position: relative;
    background-color: #750050;
}
    .header  img {
        vertical-align: middle;
    }
.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
.tit01 {
    text-align: center;
    color: #750050;
    font-size: 1.5rem;
    font-weight:bold;
}
.tit02, .tit02 > div {
    text-align: center;
    color: #545454;
    font-size: 1.1rem;
}
    .tit02 a {
        font-weight: bold;
    }
.card {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 15px #00000029;
    border-radius: 15px;
    padding: 1rem;
}
.cardrow {
    padding: 1.5rem;
}
.cardrowtop {
    border-top: 1px solid #bfbfbf;
}
.cardline {
    padding: 0.2rem;
}
.inputline {
    padding: 0.7em 0.5rem;
}
input[type=text], input[type=password], select, textarea, input[type^=date], input[type=number], input[type=email], input[type=time], input[type=tel] {
    width: 100%;
    border: 0px solid #CCCCCC;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border-bottom: 2px solid #BA2F7D;
    font-size: 1.0rem;
}

    input[type=text]:focus, input[type=password]:focus, select:focus, input[type=submit]:focus, textarea:focus, input[type^=date]:focus, input[type=email]:focus, input[type=time]:focus, input[type=time]:focus,
    input[type=number]:focus, input[type=tel]:focus {
        outline: none;
    }
button {
    border: 1px solid #BA2F7D;
    color: white;
    background-color: #BA2F7D;
    padding: 0.5rem 1rem;
    font-size: 1.0rem;
    border-radius: 5px;
    cursor: pointer;
}
.buttondisabled {
    background-color: #F4F4F6 !important;
    color: #929292 !important;
    border-color: #929292;
    cursor: no-drop;
}
.bblackform > div {
    padding: 0.5rem 0rem;
}
.bblackform > div > b {
    color: #54565A;
}
.progressBackgroundFilter {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #fff;
    filter: alpha(opacity=20);
    -moz-opacity: 0.20;
    -khtml-opacity: 0.20;
    opacity: 0.20;
    z-index: 1000;
}

    .progressBackgroundFilter > div {
        text-align: center;
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        z-index: 1000;
    }

        .progressBackgroundFilter > div > img {
            width: 10%;
            display: inline-block;
            vertical-align: middle;
            padding-top: 20%;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */
        }


/* pure-hidden-xs */
@media screen and (max-width:567px) {
    .pure-visible-sm {
        display: none !important;
    }

    .pure-visible-md {
        display: none !important;
    }

    .pure-visible-lg {
        display: none !important;
    }

    .pure-visible-xl {
        display: none !important;
    }

    .pure-hidden-xs {
        display: none !important;
    }
    .pure-hidden-md {
        display: none !important;
    }
}
/* pure-hidden-sm */
@media screen and (min-width:568px) and (max-width:767px) {
    .pure-visible-xs {
        display: none !important;
    }

    .pure-visible-md {
        display: none !important;
    }

    .pure-visible-lg {
        display: none !important;
    }

    .pure-visible-xl {
        display: none !important;
    }

    .pure-hidden-sm {
        display: none !important;
    }
    .pure-hidden-md {
        display: none !important;
    }
}
/* pure-hidden-md */
@media screen and (min-width:768px) and (max-width:1023px) {
    .pure-visible-xs {
        display: none !important;
    }

    .pure-visible-sm {
        display: none !important;
    }

    .pure-visible-lg {
        display: none !important;
    }

    .pure-visible-xl {
        display: none !important;
    }

    .pure-hidden-md {
        display: none !important;
    }
}
/* pure-hidden-lg */
@media screen and (min-width:1024px) and (max-width:1279px) {
    .pure-visible-xs {
        display: none !important;
    }

    .pure-visible-sm {
        display: none !important;
    }

    .pure-visible-md {
        display: none !important;
    }

    .pure-visible-xl {
        display: none !important;
    }

    .pure-hidden-lg {
        display: none !important;
    }
}
/* pure-hidden-xl */
@media screen and (min-width:1280px) {
    .pure-visible-xs {
        display: none !important;
    }

    .pure-visible-sm {
        display: none !important;
    }

    .pure-visible-md {
        display: none !important;
    }

    .pure-visible-lg {
        display: none !important;
    }

    .pure-hidden-xl {
        display: none !important;
    }
}