@font-face {
    font-family: 'BodyFont';
    src: url(../fonts/sourcesanspro-regular.woff2)format('woff2'),url(../fonts/sourcesanspro-regular.woff)format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    /*overflow: hidden;*/
    background-color: white;
}

* {
    font-family: 'BodyFont', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.noSpace  td{
    padding:0;
}
.myMedium {
    block-size: 22rem !important;
}
.progressBackgroundFilter {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #fff;
    filter: alpha(opacity=60);
    -moz-opacity: 0.60;
    -khtml-opacity: 0.60;
    opacity: 0.60;
    z-index: 1000;
}
    .progressBackgroundFilter > div {
        text-align:center;
        margin-top: 45vh;
        z-index: 1001;
    }